zend_extension=/usr/lib/php5/20090626/xdebug.so

;xdebug.cli_color=1
;xdebug.show_exception_trace=1
;xdebug.show_mem_delta=1
;xdebug.collect_params=1

xdebug.remote_enable=On
xdebug.remote_host=192.168.33.1
xdebug.remote_port=9000
xdebug.remote_handler="dbgp"
xdebug.remote_mode="req"
;xdebug.remote_autostart=1
;xdebug.remote_log="/tmp/xdebug.log

;profiler settings
;xdebug.profiler_append=1
;xdebug.profiler_enable=1
;xdebug.profiler_enable_trigger=1
;xdebug.profiler_output_name = cachegrind.out.%s
;xdebug.profiler_output_dir=/vagrant/tmp